.container {
    margin-top: 32px;
    width: 50%;
}

.heading {
    font-family: bold;
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 832px) {
    .container{
        width: 95%;
    }
}

@media only screen and (max-width: 640px) {
    .container{
        width: 95%;
    }
}