* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

body {
    width: 100%;
    box-sizing: border-box;
    font-family: regular;
    --primary: #E63946;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#root {
    max-width: 1920px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

@font-face {
    font-family: regular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: light;
    src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: bold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: semibold;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Lemon;
    src: url(../fonts/Lemon\ Tuesday.otf);
}

.parent {
    width: 20rem;
    height: 20rem;
    position: relative;
}

.child {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
